@using PhotoSharing.Models
@{
    ViewBag.Title = "Home Page";
    List<BlobViewModel> blobs = (List<BlobViewModel>)ViewBag.Blobs;
}

<h2>Upload image</h2>

<div class="row">
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label class="btn btn-default">
            <input type="file" id="file1" name="file1" hidden />
        </label>
        <input type="submit" class="btn btn-primary" name="Submit" id="Submit" value="Upload" />
        <div class="checkbox">
            <label><input type="checkbox" value=""/>Make private</label>
        </div>
    }
</div>

Download our Android app to upload from your mobile phone:
<a href="PhotoTaker.Android.apk">PhotoTaker.Android.apk</a>

<h2>Uploaded images</h2>

<div class="row">
    <ul class="list-group">
        @foreach (var item in blobs)
        {
            <li class="list-group-item"><a href="@item.Url">@item.Name</a><img src="@item.ThumbnailUrl" width="100" /></li>
        }
    </ul>
</div>